<%#>チャット用ページ <%>
<div class='title'>フリーチャット
<%# <%=Time.now%>
<%# <%= image_tag('illustrain10-tuyu04-150x150.png') %>
</div>

	<%# ログイン状況で反応を変更 %>
	<% if(params[:name] != nil) %>
	 	ようこそ「<%= params[:name] %>」さん
		ログインせずにしたコメントは誰でも削除できます。<br>
		ログインして行ったコメントは本人にしか削除できません。<br>
		<div class='user-zone'>
			<%if flash[:alert] %><%#>警告あればここに表示<%>
				<p><font size = "2">*<%= flash[:alert]%>*</font></p>
			<% end %>
	  	<%= button_to "ログアウト" , chat_home_path , method: :get%>
		</div>
	<% else %>
		<p>ようこそ「匿名ユーザー」さん</p>
		ログインせずにしたコメントは誰でも削除できます。<br>
		ログインして行ったコメントは本人にしか削除できません。<br>
		<div class='user-zone'>
			<div class="user-zone-title">ユーザー登録・ログイン</div>
			<%if flash[:alert] %><%#>警告あればここに表示<%>
				<p><font size = "2">*<%= flash[:alert]%>*</font></p>
			<% end %>

			<%= form_for(@user, url: chat_regist_login_path() , method: :post) do |f| %>
				<div class = user-zone-main>
				<p><%= f.text_field :name , :placeholder => "ユーザー名" , :maxlength => 10%>
				<%= f.password_field :password , :placeholder => "パスワード"%>
				<br><font size = "2">*ユーザー名は10字以内</font></p>
				<%= submit_tag "　登録　"%> or <%= submit_tag "ログイン"%>
				</div>
			<% end %>
		</div>
	<% end %>



	<%# コメント入力欄 %>
	<%= form_for(@chat , url: chat_add_path(name: params[:name]), method: :post) do |f| %>
　		<table class = 'chat_input'>
    		<tr>
			<%= f.hidden_field :name , :value => params[:name]%></td>
    		<td><%= f.text_area :text , :placeholder => "入力欄(100字以内)" , :maxlength => 100 %></td>
			<td><%= f.submit "　コメントする　"%></td>
		  </div>
			</tr>
		</table>
	<% end %>


	<div class = 'chat_zone container-fluid'>
	<div class = chat_zone-title>チャット覧</div>

	<table>
		<%#新しいコメントが上に来るようにreverse  %>
		<% @chatlog.reverse.each do |chat| %>
  			<tr><%#>リスト配置 %>
		  		<%# 名前部分 %>
				  <td class = min_td>
    			<% if chat.name == nil || chat.name == "" %>
				 	「　」
    			<% else %>
        			<%= chat.name %>
  		  		<% end %>
					</td>
			<td>
			<%# コメント部分 %>
  			<div class="balloon1">
   				<%=simple_format(chat.text)%>
  			</div>
			</td>
			<td class = min_td>
			<%# 削除ボタンの表示判定 %>
    		<% if( chat.name == nil || chat.name == "" || params[:name] == chat.name || params[:name] == "admin")%>
    			<%= link_to "[削除]" , chat_home_path(id: chat , name: params[:name]) , method: :delete %>
	    	<% end %>
			</tr>
		<% end %>
  	</table>

