<%#>チャット用ページ <%>
<div class='title'>フリーチャット
<%# <%=Time.now%>
<%# <%= image_tag('illustrain10-tuyu04-150x150.png') %>
</div>

<p>現在時刻は<%= @time %>です。</p>



	<%# ログインしてるかしてないかで反応を変更する %>
	<% if(params[:name] != nil) %>
	 	ようこそ「<%= params[:name] %>」さん <%= button_to "ログアウト" , chat_home_path , method: :get%>
	<% else %>
		<p>ようこそ「匿名ユーザー」さん</p>
		<div class='user_zone'>
			<div class="user_zone-title">ユーザー登録・ログイン</div>
			<%if flash[:alert] %><%#>警告あればここに表示<%>
				<p><%= flash[:alert]%></p>
			<% end %>
			<%= form_for(@user, url: chat_regist_login_path() , method: :post) do |f| %>
				<p><%= f.text_field :name , :placeholder => "ユーザー名"%>
				<%= f.password_field :password , :placeholder => "パスワード"%></p>
				<%= submit_tag "登録"%> or <%= submit_tag "ログイン"%>
			<% end %>
		</div>
	<% end %>


	<%= form_for(@chat , url: chat_add_path(name: params[:name]), method: :post) do |f| %>
　		<div class='input_chat'>
    		<%= f.label "入力欄　" %>
			<%= f.hidden_field :name , :value => params[:name]%>
    		<%= f.text_field :text , :placeholder => "好きなコメントをどうぞ"%><%= f.submit "　コメントする　"%>
  		</div>
	<% end %>

	<br>

	<div class = chat_zone>
	<ul>
	<div class = chat_zone-title>チャット覧</div>
  	<% @chatlog.each do |chat| %>
  		<li>
		  <%# 名前部分 %>
    		<% if chat.name == nil %>
			<%#  匿名さん %>
    		<% else %>
        		<%= chat.name %>
  		  	<% end %>

			<%# コメント部分 %>
  			<div class="balloon1">
   				「<%= chat.text %>」
  			</div>
			<%# 削除ボタンの表示判定 %>
    		<% if( chat.name == nil || chat.name == "" || params[:name] == chat.name)%>
    			<%= link_to "[削除]" , chat_home_path(id: chat , name: params[:name]) , method: :delete %>
	    	<% end %>
  		</li>
  	<% end %>
	</ul>

