<%# ヘッダー %>
<!DOCTYPE html>
<html class = whole-page>
  <head>
    <title>Free_Chat_Room</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>


    <% title_word = "ゆっくりしていってね!"%>
    <%tmp = Time.current.in_time_zone("Asia/Tokyo") %>
    <%time = "#{tmp.year}/#{tmp.month}/#{tmp.day}"%>
    <header class='whole-head'>
      <div class = 'container-fluid'><%#ヘッダー固定用の下敷き %>
        <span class='ribbon1'>★</span><span class='ribbon2'>★</span>
        <div class = 'header_contents'>
          <div class='header-center'><%=title_word%></div>
          <div class = 'header-right'><%=time%></div>
        </div>
      </div>

      <div class = 'container-fluid site-header'>
        <span class='ribbon1'>★</span><span class='ribbon2'>★</span>
        <div class = 'header_contents'>
          <div class='header-center'><%=title_word%></div>
          <div class = 'header-right'><%=time%></div>
        </div>
      </div>
      </div>

    </header>
  </head>
  <body>

  <div class = 'container-fluid'>
    <%# <script>sidebar();</script> %>
    <div class='main-content'>
      <%= yield %><%#>ここに各ページの内容が入る<%>
    </div>
  </div>

  </body>
</html>
