<%# ヘッダー %>
<!DOCTYPE html>
<html>
  <head>
    <title>Free_Chat_Room</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <script type='text/javascript' charset='utf-8' src='index.js'></script>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <%# <header class='whole-head'>
      <div class = 'container-fluid'>
        <span class='ribbon1'>★</span><span class='ribbon2'>★</span>
        <div class='main-head'>" + "おいおいおい" + "</div>
        <div class = 'sub-head'><script>nowday();</script></div>
      </div>

    </header>; %>
    <%# <script string title_word = "ゆっくりしていってね!"> </script> %>
    <%tmp = Time.current.in_time_zone("Asia/Tokyo") %>
    <%time = "#{tmp.year}/#{tmp.month}/#{tmp.day}"%>
    <header class='whole-head'>
      <div class = 'container-fluid'><%#ヘッダー固定用の下敷き %>
        <span class='ribbon1'>★</span><span class='ribbon2'>★</span>
        <div class = 'header_contents'>
          <div class='header-center'>ゆっくりしていきましょう</div>
          <div class = 'header-right'><%=time%></div>
        </div>
      </div>
      
      <div class = 'container-fluid site-header'>
        <span class = 'ribbon1'>★</span><span class = 'ribbon2'>★</span>
          <div class = header_contents>
              <p class ="migi"> </p>
              <p class="mannaka">ゆっくりしていってね</p>
              <p class="hidari"> <%=time%> </p>
          </div>
      </div>

    </header>

  </head>


  <body>



  <%# <script>header('ホームページ');</script> %>
  <div class = 'container-fluid'>
    <%# <script>sidebar();</script> %>
    <div class='main-content'>
      <%# 今日は<script>nowday();</script><br>
      ようこそ。今日はきっといい天気ですね。<br><br>
      左のメニュー覧から、他のページに飛ぶことができます。 %>
      <%= yield %><%#>ここに各ページの内容が入る<%>
    </div>
  </div>

  </body>
</html>
